.axios-preview {
    display: flex;
    height: 100%;
    a {
        text-align: center;
        word-wrap: break-word;
        height: 80px;
        overflow: hidden;
        width: 100%;
    }
    button {
        align-self: flex-start;
    }
}
